@import url("styles/cabeçalho.css");
@import url("styles/banner.css");
@import url("styles/contato.css");
@import url("styles/carrossel.css");
@import url("styles/eventos.css");

.root{
    --preto:#000000;
    --azul-escuro: #013a63;
    --fonte-principal: "Prata";
}

body {
    background-color: #5d96ae;
    font-family: var(--fonte-principal);
    font-size:16px ;
    font-weight: 400;

    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

p#link{
        font-family: "Prata", system-ui;
        font-weight: 400;
        font-style: normal;      

        font-family: "Poppins", system-ui;
        font-weight: 100;
        font-style: normal;

        font-family: "Arapey", system-ui;
        font-weight: 400;
        font-style: normal;
}