.banner{
    display: flex;
    padding: 100px 10px;
    margin-bottom: 90px;
}

.banner__titulo{
    font-size: 50px;
    text-transform: uppercase;
    text-align: left;
    font-family: "Arapey";
    margin: 0.5em 1em;
    color: #012a4a;
    font-style: italic;
}

.banner__texto{
    width: 70%;
    font-size: 20px;
    margin: 0.5em 3em;
    text-align:justify;
    font-family: "Poppins";
    color: #003566;
}

.banner__imagem{
    width: 150%;
    border-radius: 24px;
}
