.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 125px;
}

.banner__titulo{
    color: #013a63;
    text-transform: uppercase;
    font-family: "Arapey";
    font-style: italic;
    font-size: 45px;
    font-weight: 700;
}

.banner__texto{
    font-size: 20px;
    color: #013a63;
    text-align: justify;
    font-family: "Poppins";
}

.banner__imagem{
    border-radius: 24px;
    width: 60%;
    margin-right: 70px;
    margin-left: 50px;
    box-shadow: 3px 3px 5px #013a63;
}

.container__banner{
    width: 40%;
    margin-left: 70px;
    margin-right: 50px;
}

.ondinha{
    height: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}