.cabeçalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
}

.container{
    display: inline-block;
    margin: 0 16px;
    justify-content: start;
}

.cabeçalho__imagem{
    width: 60%;
    align-items: center;
}

.cabeçalho__item{
    display: inline-block;
    margin: 0 16px;
    font-size: 25px;
    text-decoration: none;
}

.opções_link{
    text-decoration: none;
    color: #012a4a;
    font-family: "Arapey";
}


.início{
    align-items:center;

    display: flex;
    margin-bottom: 100px;
}

.início__titulo{
    display: inline-block;
    width: 40%;
    font-size: 100px;
    padding: 10px 70px;
    color:#012a4a;
    font-family: "Prata";
    font-style: italic;
    text-transform: uppercase;
}


.início__imagem{
    width: 60%;
    border-radius: 24px;
    margin: 0px 50px;
}