.carrossel__titulo{
    color: #013a63;
    text-align: center;
    text-transform: uppercase;
    font-family: "Arapey";
    font-style: italic;
    font-size: 45px;
}


.swiper-slide img {
    width: 100%;
}


.swiper-button-prev,
.swiper-button-next {
    display: none;
}


.swiper-pagination {
    position: initial;
    margin: .5em 0;
}
