.carrossel__titulo{
    color: #013a63;
    text-align: center;
    text-transform: uppercase;
    font-family: "Arapey";
    font-style: italic;
    font-size: 45px;
}

.swiper{
    width: 80%;
    align-items: center;
}

.swiper-slide img {
    width: 100%;   
    align-content: center;    
    padding: 10px 10px;
}

.swiper-slide {
    color: #013a63;
    text-align: center;
    font-family: "Arapey";
    font-size: 30px;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}


.swiper-pagination {
    position: initial;
    margin: .5em 0;
}
