.contato {
    text-align: center;
    padding-bottom: 50px;
    color:#002a48 ;
    font-family: "Poppins";
}

.contato__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a{
    color: #002a48;
    margin-left: 1em;
}

.lista__link a:hover {
    color:#005897;
}
