
.cabeçalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabeçalho__imagem{
    width: 15%;
}

.cabeçalho__item{
    display: inline-block;
    margin: 0 16px;
    font-size: 18px;
    text-decoration: none;
}

.opções_link{
    text-decoration: none;
    color: var(--preto);
    text-transform: uppercase;
}